@model PapaizInc.Models.Funcionario

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir isso?</h3>
<div>
    <h4>Funcionário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefones)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefones)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Identidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Identidade)
        </dd>
        <dt>
            Carteira de Trabalho
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarteiraDeTrabalho)
        </dd>
        <dt>
            Salário
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Motorista)
        </dd>
        <dt>
            Técnico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tecnico)
        </dd>
        <dt>
            Observações
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>